.Description{
    background-color: #ffffff;
    margin-top: 300px;
}

h1{
    text-align: center;
    margin-left: 5px;
}

#Team{
    margin-left: 5px;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
}

#TeamPhotos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 125px;
}